
<html>
    <head>
        <Title>
            From EJS
        </Title>
        
    </head>
    <body>

        <!-- Navigation-->
        <header>

        </header>

        <!-- Main -->
        <Main>

        </Main>

        <!-- Footer-->
        <Footer>

        </Footer>

        <h1>Hello WOrld From EJS</h1>
    </body>
</html>