<!-- thisis the content that will be loaded within the pages stored under content but loaded into the template index.ejs file under views-->
<div class = "container" align = "center">
    <!-- <img src = "./content/images/unknownUSE.jpg" alt = "something"> --- addomg an image is as simple as this -->
    <h1><%= title %></h1>
</div>