<div class = "container" align = "center">
    <h1><%= title %></h1> <!--remember how to access ejs content or variables - its with a '<' followed by '%' 
                            followed by '-' or '='(for variables to load) and ends with a '%' followed by '>'-->
<p>I am ME</p>                        
                        
</div>