<!-- thisis the content that will be loaded within the pages stored under content but loaded into the template index.ejs file under views-->
<div class = "container" align = "center">
    <h1><%= title %></h1>
</div>